#main-container {
}

.square {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 1px;
    float: left;
    background-color: aqua;
    border: 1px solid black;
}

.row {
    display: block;
    float: left;
    width: 100%;
}